.productCard {
  width: 160px; /* Aumentar el ancho */
  height: 260px; /* Aumentar la altura */
  margin: 14px auto;
}

.productImage {
  height: 120px; /* Ajusta la altura para que la imagen ocupe una parte de la tarjeta */
  object-fit: cover;
  border-radius: 8px;
}

.productTitle {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.productDescription {
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.9em;
}

.productPrice {
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* .productCard {
  width: 150px;
  margin: 6px auto;
}

.productImage {
  height: 180px;
  object-fit: cover;
}

.productDescription {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.productTitle {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
} */
